* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar_container{
    margin-top: 35px;
    margin-left: 25px;
}

nav li{
    
    list-style-type: none;
}

nav img{
    width: 95px;
}

.navbar_container li input:nth-child(1){
    position: absolute;
    width: 690px;
    height: 47.5px;
    margin-left: 140px;
    margin-top: -42.5px;
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 25px;
    box-shadow: 0px 1px 6px rgba(128, 128, 128, 0.493);
}

.searchbar_container img{
    position: absolute;
    width: 18px;
    margin-left: 790px;
    margin-top: -28px;
}

.right_container{
    width: 16px;
    height:16px;
    float: right;
    margin-top: -30px;
    margin-right: 100px;
}

.right_container li:nth-child(2){
    float: right;
    margin-top: -27.5px;
    margin-right: -55px;
}

.profile_picture{
    width: 32px;
    height:32px;
    object-fit: cover;
    border-radius: 50%;
}